.toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.toggle + label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.toggle + label::before {
  content: "";
  height: 1.2em;
  width: 2.5em;
  border-radius: 1.2em;
  background-color: var(--toggle-bg);
  transition: background-color 250ms ease-in-out;
}

.toggle + label::after {
  content: "";
  position: absolute;
  left: 0.15rem;
  top: 50%;
  transform: translateY(-50%);
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: var(--toggle-fg);
  transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
}

.toggle:checked + label::before {
  background-color: var(--toggle-fg);
}

.toggle:checked + label::after {
  transform: translate(1.2em, -50%);
  background-color: var(--toggle-bg);
}
@media (min-width: 1280px) {
  .toggle + label::before {
    height: 1.7rem;
    width: 3.6rem;
  }

  .toggle + label::after {
    content: "";
    position: absolute;
    left: 0.4em;
    height: 1.3em;
    width: 1.3em;
  }
}
