.hidden {
  display: none;
}

.navLink {
  font-size: 0.9rem;
  line-height: 1rem;
  font-family: serif;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  color: var(--custom);
}

@media (min-width: 768px) {
  .nav {
    display: block;
  }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .navLink {
    font-size: 1.6rem;
  }

  .navLinkActive {
    font-size: 1.6rem;
    font-family: serif;
    color: red;
    text-decoration: underline;
  }
}
