.noContacts {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  color: black;
  font-size: 1rem;
  line-height: normal;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
  background-color: lightgray;
  box-shadow: 2px 2px 4px 4px grey;
  width: 270px;
}
.noText {
  max-width: 160px;
}
.gimIcon {
  width: 40px;
  height: 40px;
  padding-left: 10px;
}

.contactList {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin: 0 auto;
}

.contactItem {
  padding: 0.25rem;
  border-radius: 0.375rem;
  border: 1px solid black;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  box-shadow: 2px 2px 4px 4px grey;
  border-radius: 1.5em;
  width: 266px;
  background-color: lightgray;
}

.empty {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-top: 30px;
}

.errorMessage {
  color: red;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .noContacts {
    padding: 10px;
    justify-content: space-between;
    width: 272px;
    font-style: 16px;
  }
  .noText {
    max-width: 280px;
  }
  .gimIcon {
    padding-left: 0px;
  }

  .contactList {
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin: 0 auto;
  }

  .contactItem {
    padding: 0.25rem;
    border-radius: 0.375rem;
    border: 1px solid black;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;
  }

  .item {
    box-shadow: 2px 2px 4px 4px grey;
    border-radius: 1.5em;
    width: 320px;
    height: fit-content;
    background-color: lightgray;
  }

  .empty {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-top: 30px;
  }
  .noContacts {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
    font-style: 20px;
    gap: 5px;
  }

  .gimIcon {
    height: 60px;
    width: 60px;
  }

  .errorMessage {
    color: red;
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .noContacts {
    font-size: 1.7rem;
    padding: 10px;
    width: 330px;
    font-style: 20px;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 740px;
    margin: 0 auto;
  }
  .gimIcon {
    height: 60px;
    width: 60px;
  }
  .errorMessage {
    color: red;
    font-size: 1.7rem;
  }
}
