.hidden {
  display: none;
}
.welcome {
  font-family: "Libre Baskerville", serif;
  font-size: 0.5rem;
  font-weight: 600;
  color: var(--custom);
}
.authNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.logoutButton {
  padding: 2px 4px;
  border-radius: 8px;
  background-color: #3b82f6;
  color: white;
  font-size: 0.9rem;
  border: 2px solid white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #2dd4bf;
}

.greet {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {
  .welcome {
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    max-width: 120px;
    gap: 3px;
  }
  .authNav {
    flex-direction: row;
    gap: 20px;
  }
  .logoutButton {
    display: block;
    padding: 5px 6px;
    font-size: 1.2rem;
  }
  .greetTitle {
    font-size: 1.2rem;
  }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 215px;
    gap: 10px;
  }
  .greet {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}
@media (min-width: 1280px) {
  .welcome {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    align-items: center;
    gap: 3px;
  }
  .logoutButton {
    padding: 8px 20px;
    font-size: 1.4rem;
  }

  .authNav {
    flex-direction: row;
    gap: 20px;
  }
  .greetTitle {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: fit-content;
    gap: 50px;
  }
}
